@font-face {
  font-family: "iconfont"; /* Project id 4658242 */
  src: url('//at.alicdn.com/t/c/font_4658242_79p1ald063r.woff2?t=1725847168051') format('woff2'),
       url('//at.alicdn.com/t/c/font_4658242_79p1ald063r.woff?t=1725847168051') format('woff'),
       url('//at.alicdn.com/t/c/font_4658242_79p1ald063r.ttf?t=1725847168051') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  content: "\e603";
}

.icon-zhihu:before {
  content: "\eb80";
}

.icon-bendi:before {
  content: "\e602";
}

.icon-zhankai:before {
  content: "\e60b";
}

.icon-shouqi:before {
  content: "\e712";
}

.icon-subdirectory-arrow-l:before {
  content: "\ec1b";
}

.icon-directory:before {
  content: "\e601";
}

.icon-google:before {
  content: "\e87a";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

.icon-Bing:before {
  content: "\e600";
}

.icon-juejin:before {
  content: "\e7c7";
}

.icon-npmjs-fill:before {
  content: "\eac6";
}

.icon-baidu:before {
  content: "\e650";
}

.icon-search:before {
  content: "\e64c";
}
