@media (max-width: 767px) {
  .view-small .search-content {
    width: 80vw;
  }
  .view-small .app-list {
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  }
  .view-small .app-list .app-item img, .view-small .app-list .app-item .img {
    margin-right: 0;
  }
  .view-small .app-list .app-item .app-item-title {
    display: none;
  }
}