@media (max-width: 767px) {
  .view-small {
    .search-content {
      width: 80vw;
    }
    .app-list {
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
      
      .app-item {

        img, .img {
          margin-right: 0;
        }
        .app-item-title {
          display: none;
        }
      }
    }
  }
}